{% extends "index.html" %}

{% block title %} Все кандидаты{% endblock %}

{% block body %}
    <div class="container">
        {% if  count_candidates %}
            {% if skill %}
                <h2>Найдено со скиллом {{ skill }}: {{ count_candidates }}</h2>
            {% else %}
                <h2>Найдено кандидатов : {{ count_candidates }}</h2>
            {% endif %}
        {% else %}
            <h1 class="h1">Все кандидаты</h1>
        {% endif %}

        <ul>
            {% for item in data %}

                <li><a href="/candidate/{{ item.id }}">{{ item.name }}</a></li>

            {% endfor %}
        </ul>
        {% if count_page > 1 %}
            <div>

                {% for i  in  range(1, count_page + 1 ) %}

                    <a href="/{{ i }}">{{ i }}</a>

                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}