{% extends'index.html' %}
{% block title %}
    Моя Страничка
{% endblock %}
{% block body %}
    <div class="container">
        <h2>Евгений Григорьев</h2>
        <img src="/static/foto.jpg" width="300" height="300">

        <p>Привет, я студент SkyPro.</p>
        <p>на этой страничке будут ссылки на <em>githab</em>(но это не точно)</p><br>
        <hr>
        <p> тут просто <strong>потестируем</strong> теги из задания,
            <del>возможно</del>
            это будет
            <mark>полноценная страничка</mark>
        </p>
    </div>
{% endblock %}